<h1> Dashboard</h1>
<h2>Welcome! You can view all of your cheat codes here!</h2>

<h3><a href="/cheats">All The Cheats</a></h3>

<h2> And! All of your games here!</h2>
<h3><a href="/games">All The Games</a></h3>

<%= link_to "Your Account", current_user %>
